<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @trip, html: { class: 'form-horizontal' } do |f| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">You are</h3>
        </div>
        <div class="panel-body">
          <%= f.input :kind, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes, item_label_class: 'radio-inline', collection: [['Driver', 'Driver'], ['Passenger', 'Passenger']], label: false %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Your journey</h3>
        </div>
        <div class="panel-body">
          <%= f.input :leave_at, as: :string, wrapper: :horizontal_form, input_html: { class: 'datepicker' }, placeholder: 'Date', label: 'Date' %>
          <%= f.simple_fields_for :points, @required_points do |p| %>
            <%= p.input :location_name, as: :string, wrapper: :horizontal_form, input_html: { class: 'geocoder' }, placeholder: t(p.object.kind.downcase), label: t(p.object.kind.downcase+'_place') %>
            <%= p.input :kind, as: :hidden %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Optional: Do you make steps?</h3>
        </div>
        <div class="panel-body">
          <% i = 0 %>
          <%= f.simple_fields_for :points, @optional_points do |p| %>
            <% i += 1 %>
            <%= p.input :location_name, as: :string, wrapper: :horizontal_form, input_html: { class: 'geocoder' }, placeholder: t(p.object.kind.downcase), label: t(p.object.kind.downcase+'_place') + " #{i}" %>
            <%= p.input :location_coordinates, as: :hidden %>
            <%= p.input :kind, as: :hidden %>
          <% end %>
        </div>
      </div>
      <%= f.submit 'Create your ad', class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>
<script>
  initAutocomplete()
  initDatepicker()
</script>
