<div class="trip">
  <%= link_to trip, class: 'trip-item' do %>
    <div class="driver">
      <div class="avatar">
        <%= image_tag('carpooling-avatar-default2.png') %>
      </div>
      <div class="info">
        <div class="name">
          <%= trip.name %>
        </div>
        <div class="age">
          <%= "#{trip.age} years" if trip.age.present? %>
        </div>
      </div>
    </div>
    <div class="trip-info">
      <div class="title">
        <%= l trip.departure_date, format: :long %>
        <%= l trip.departure_time, format: :short %>
      </div>
      <div class="details">
        <%= display_steps(trip) %>
      </div>
    </div>
    <div class="price">
      <p>
        <%= "#{trip.price} dollars" %>
      </p>
      <div class="seats">
        <%= "#{trip.seats} places" %>
      </div>

    </div>
    <div class="clearfix"></div>
  <% end %>
</div>
