<li class="trip row">
  <%= link_to '#', id: "trip_#{trip.id}" do %>
    <div class="driver col-md-3 name">
      <%= trip.name %>
      <%= number_to_age(trip.age) %>
    </div>
    <div class="trip-info col-md-6">
      <div class="title">
        <%= l trip.leave_at, format: :long %>
      </div>
      <p>
        <%= trip.locations.find_by(kind: 'From').city %>
        &rarr;
        <%= trip.locations.find_by(kind: 'To').city %>
      </p>
    </div>
    <div class="trip-info col-md-3">
      <div class="price">
        <%= number_to_currency trip.price %>
      </div>
    </div>
  <% end %>
</li>
