<div class="trip">
  <%= link_to '#', class: 'trip-item' do %>
    <div class="driver">
      <div class="avatar">
        <%= image_tag('carpooling-avatar-default2.png') %>
      </div>
      <div class="info">
        <div class="name">
          <%= trip.name %>
        </div>
        <div class="age">
          <%= "#{trip.age} years" %>
        </div>
      </div>
    </div>
    <div class="trip-info">
      <div class="title">
        <%= l trip.leave_at, format: :long %>
      </div>
      <div class="details">
        <%= "#{@search.short_from_name}" %>
        &rarr;
        <%= "#{@search.short_to_name}" %>
      </div>
    </div>
    <div class="price">
      <p>
        <%= number_to_currency(trip.price) %>
      </p>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div>
