<br/>
<p>
  <%= link_to '&larr; Back to results'.html_safe, :back %>
</p>
<%= flash_messages %>
<h3>
  <%= "Travel from #{@trip.point_from.city} to #{@trip.point_to.city}" %>
</h3>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            Departure
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.point_from.city %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Arrival
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.point_to.city %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Date of departure
          </div>
          <div class="col-md-8">
            <strong>
              <%= l @trip.departure_date %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Departure time
          </div>
          <div class="col-md-8">
            <strong>
              <%= l @trip.departure_time, format: :short %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Number of places
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.seats %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= t Trip.human_attribute_name(:comfort) %>
          </div>
          <div class="col-md-8">
            <strong>
              <%= t :"activerecord.attributes.trip.comfort_#{@trip.comfort}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Comment
          </div>
          <div class="col-md-8">
            <div class="well">
              <%= @trip.description %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Price
          </div>
          <div class="col-md-8">
            <%= number_to_currency @trip.price %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Sex
          </div>
          <div class="col-md-8">
            <%= t :"activerecord.attributes.trip.title_#{@trip.title}" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Smoking
          </div>
          <div class="col-md-8">
            <%= t :"activerecord.attributes.trip.smoking_#{@trip.smoking}" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Steps</h4>
        <div class="row">
          <div class="col-md-4">
            Departure
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.point_from.city %>
            </strong>
          </div>
        </div>
        <% @trip.step_points.each_with_index do |step, index| %>
          <div class="row">
            <div class="col-md-4">
              <%= "Step #{index+1}" %>
            </div>
            <div class="col-md-8">
              <strong>
                <%= step.city %>
              </strong>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4">
            Arrival
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.point_to.city %>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div class="driver">
              <div class="avatar">
                <%= image_tag('avatar-default2.png') %>
              </div>
              <div class="info">
                <div class="name">
                  <%= @trip.name %>
                </div>
                <div class="age">
                  <%= "#{@trip.age} ans" if @trip.age.present? %>
                </div>
                <div class="email">
                  <%= @trip.email %>
                </div>
                <div class="phone">
                  <%= @trip.phone %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="price">
              <p>
                <%= "#{@trip.price} $" %>
              </p>
              <div class="seats">
                <%= "#{@trip.seats} places" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="message_zone">
          <div class="message" id="message-wrapper">
            <%= render 'messages/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
