<br/>
<p>
  <%= link_to '&larr; Back to results'.html_safe, :back %>
</p>

<%= flash_messages %>

<div class="page-header">
  <h1>
    <%= "Travel from #{@trip.point_from.city} to #{@trip.point_to.city}" %>
    <small>
      <%= distance_of_time_in_words(@trip.total_time) if @trip.total_time.present? %>
      <%= "- #{(@trip.total_distance / 1000).round} km" if @trip.total_distance.present? %>
    </small>
  </h1>
</div>

<div class="trip-ownership">
  Is this your ad?
  <%= link_to 'Click here', resend_email_trip_path(@trip) %>
  to receive the ad management email
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-4">
            Departure
          </div>
          <div class="col-lg-8">
            <strong>
              <%= @trip.point_from.city %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Arrival
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.point_to.city %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Date of departure
          </div>
          <div class="col-md-8">
            <strong>
              <%= l @trip.departure_date %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Departure time
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.departure_time.try(:strftime, "%k:%m") %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Number of places
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.seats %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= t Trip.human_attribute_name(:comfort) %>
          </div>
          <div class="col-md-8">
            <strong>
              <%= t :"activerecord.attributes.trip.comfort_#{@trip.comfort}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Price
          </div>
          <div class="col-md-8">
            <%= number_to_currency @trip.price %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Smoking
          </div>
          <div class="col-md-8">
            <%= t :"activerecord.attributes.trip.smoking_#{@trip.smoking}" %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong>Steps :</strong>
            <%= trip_steps_breadcrumb(trip) %>
        </h3>
      </div>
      <div class="panel-body">
        <div id="route-wrapper">
          <div id="route"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div class="driver">
              <div class="avatar">
                <%= image_tag('default2.png') %>
              </div>
              <div class="info">
                <div class="name">
                  <%= @trip.name %>
                </div>
                <div class="age">
                  <%= "#{@trip.age} ans" if @trip.age.present? %>
                </div>
                <div class="sex">
                  <%= t :"activerecord.attributes.trip.title_#{@trip.title}" %>
                </div>
                <div class="phone" id="image_phone">
                  <%= image_tag('') %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="price">
              <p>
                <%= "#{@trip.price} e" %>
              </p>
              <div class="seats">
                <%= "#{@trip.seats} places" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 col-md-offset-1">
            <br/>
            <%= "Comment from #{@trip.name} :" %>
            <div class="well">
              <%= @trip.description %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="message_zone">
          <div class="message" id="message-wrapper">
            <%= render 'messages/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="duplicate">
  <%= link_to 'Copy path', new_from_copy_trip_path(@trip), class: 'btn btn-default' %>
  <%= link_to 'Create the return trip', new_for_back_trip_path(@trip), class: 'btn btn-default' %>
</div>

<% content_for :javascript_footer do %>
  <script>

    var img = $("<img />").attr('src', "/text/#{@trip.phone}")
      .on('load', function() {
        if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
            alert('broken image!');
        } else {
            $("#image_phone").append(img);
        }
    });

    var tripPoints = [];

    $.getJSON( "#{points_trip_path(@trip)}", function( data ) {
      $.each( data, function( index, item ) {
        tripPoints.push([parseFloat(item.lat), parseFloat(item.lon)]);
      });

      var map = L.map('route').setView(tripPoints[0], 1);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
      }).addTo(map);

      L.Routing.control({
        waypoints: tripPoints,
        routeWhileDragging: true,
        show: false // setting show to false hides the directions text block
      }).addTo(map);
    });
  </script>
<% end %>
