<br/>
<p>
  <%= link_to '&larr; Retour aux resutats'.html_safe, :back %>
</p>
<h3>
  <%= "Back to results #{@trip.point_from.city} to #{@trip.point_to.city}" %>
</h3>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <%= t Trip.human_attribute_name(:kind) %>
          </div>
          <div class="col-md-8">
            <strong>
              <%= "#{@trip.kind}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Departure
          </div>
          <div class="col-md-8">
            <strong>
              <%= ed "#{@trip.point_from.city}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Arrival
          </div>
          <div class="col-md-8">
            <strong>
              <%= ed "#{@trip.point_to.city}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Date of departure
          </div>
          <div class="col-md-8">
            <strong>
              <%= "#{l(@trip.leave_at, format: :long).split(' to ')[0]}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Departure time
          </div>
          <div class="col-md-8">
            <strong>
              <%= "#{l(@trip.leave_at, format: :long).split(' to ')[1]}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Number of places
          </div>
          <div class="col-md-8">
            <strong>
              <%= @trip.seats %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= t Trip.human_attribute_name(:comfort) %>
          </div>
          <div class="col-md-8">
            <strong>
              <%= t :"activerecord.attributes.trip.comfort_#{@trip.comfort}" %>
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Comment
          </div>
          <div class="col-md-8">
            <div class="well">
              <%= ed @trip.description %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Price
          </div>
          <div class="col-md-8">
            <%= @trip.price %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Title
          </div>
          <div class="col-md-8">
            <%= @trip.title %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            Smoking
          </div>
          <div class="col-md-8">
            <%= @trip.smoking %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div class="driver">
              <div class="avatar">
                <%= image_tag('carpooling-avatar-default2.png') %>
              </div>
              <div class="info">
                <div class="name">
                  <%= ed @trip.name %>
                </div>
                <div class="age">
                  <%= "#{@trip.age} years" if @trip.age.present? %>
                </div>
                <div class="email">
                  <%= @trip.email %>
                </div>
                <div class="phone">
                  <%= @trip.phone %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="price">
              <p>
                <%= "#{@trip.price} $" %>
              </p>
              <div class="seats">
                <%= "#{@trip.seats} seats" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <center>
          <%= link_to 'Book', '#', class: 'btn btn-warning btn-lg' %>
        </center>
      </div>
    </div>
  </div>
</div>
