<h1>
  Hello
  <%= @trip.name %>
</h1>
<p>
  You have received a message from
  <%= @message.sender_name %>
  for your journey from
  <%= @trip.point_from.city %>
  to
  <%= @trip.point_to.city %>
  <br/>
</p>
<p>
  His message :
  <%= @message.body %>
</p>
<p>
  You can recontact him, his email is :
  <%= @message.sender_email %>
  <% if @message.sender_phone.present? %>
    His phone number is the :
    <%= @message.sender_phone %>
  <% end %>
</p>