<h1>Results of your search
  <p>
    <strong>From :</strong>
    <%= @search.from %>
    (
    <%= @search.from_coordinates %>
    )
  </p>
</h1>
<p>
  <strong>To :</strong>
  <%= @search.to %>
  (
  <%= @search.to_coordinates %>
  )
</p>
<p>
  <strong>Date :</strong>
  <%= @search.date  %>
</p>