<hr>
  <div class="text-center">
    <ul class="list-inline">
      <li>
        <%= link_to 'Association', '/association' %>
      </li>
      <li>
        <%= link_to 'Press', press_url %>
      </li>
      <li>
        <%= link_to 'F.A.Q.', faq_url %>
      </li>
      <li>
        <%= link_to 'CGUs', '#' %>
      </li>
      <li>
        <%= link_to 'Contact', contact_url %>
      </li>
      <li>
        <%= link_to 'Terms', terms_url %>
      </li>
      <li>
        <%= link_to 'https://www.facebook.com/#/' do %>
          <%= image_tag 'facebook.png', alt: 'Facebook' %>
        <% end %>
      </li>
      <li>
        <%= link_to 'https://twitter.com/#?lang=en' do %>
          <%= image_tag 'twitter.png', alt: 'Twitter' %>
        <% end %>
      </li>
      <li>
        <%= link_to 'https://www.instagram.com/#/' do %>
          <%= image_tag 'instagram.png', alt: 'Instagram' %>
        <% end %>
      </li>
      <li>© 2018 Free Carpool</li>
    </ul>
  </div>
</hr>
