<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>Find your carpool</h2>
        <p>Free, community and free ridesharing.</p>
        <%= simple_form_for @search, url: search_url, html: { class: 'form-inline' } do |f| %>
          <%= f.input :from_name, as: :string, wrapper_html: { class: 'ui-widget' }, input_html: { class: 'input-lg' }, label: false, placeholder: 'From' %>
          <%= f.input :from_coordinates, as: :hidden %>
          <%= f.input :to_name, as: :string, wrapper_html: { class: 'ui-widget' }, input_html: { class: 'input-lg' }, label: false, placeholder: 'To' %>
          <%= f.input :to_coordinates, as: :hidden %>
          <%= f.input :date, as: :string, input_html: { class: 'datepicker input-lg' }, label: false, placeholder: 'Date' %>
          <button class="btn btn-default btn-primary btn-lg" type="submit">Search</button>
        <% end %>
      </div>
      <div class="col-md-3">
        <div class="publish">
          You have a car?
          <br/>
          <br/>
          <%= link_to 'Post add', new_trip_path, class: 'btn btn-lg btn-warning' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  initAutocomplete()
  initDatepicker()
</script>